<div class='card product-card' ng-repeat='product in products track by $index'>
  <div class='item item-thumbnail-right product-item'>

    <img ng-src='{{product.image}}' class='product-image'>
    <h3 class='product-title'>{{product.title}}</h3>
    <p class='product-description'>{{product.description}}</p>

    <i class='icon ion-plus-round icon-plus-round' ng-click='addProduct(product)'></i>
       <span class='product-quantity'>{{product.quantity}}</span>
    <i class='icon ion-minus-round icon-minus-round' ng-click='removeProduct(product)'></i>

    <span class='product-price'>${{product.price}}</span>

  </div>
</div>
<div>
  <br><br><br><br>
</div>
