/* Empty. Add your own CSS if you like */

/* CART */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}


.scroll-content {

}

.product-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: none;
  border-radius: none;
}

.product-item {
  
}

.product-image {
  max-height: 90px !important; 
  max-width: 90px !important;
  right: 5px !important;
}

.product-title {

}

.product-description {

}

.product-quantity {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: underline;
}

.product-price {
  margin-left: 15px;
}

.icon-plus-round {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-minus-round {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;

}

/* PURCHASE */

.purchase-form-description {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
  opacity: 0.45;
}

.purchase-form {
  margin-top: 10px;
}

.purchase-total {
  margin-top: 60px;
  text-align: center;
}
